@import url(./typeface-poppins.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-highlight: 224, 157, 255;
    --color-background-primary: 48, 26, 61;
    --color-background-alt: 61, 38, 101;
    --color-accent-text: 238, 211, 123;
    --color-accent-text-muted: 241, 231, 196;
    --color-text: 255, 255, 255;
    --color-text-muted: 229, 229, 229;
    --color-muted: 142, 142, 142;
    --color-link: 197, 192, 247;
  }
}

@layer utilities {
  .gradient {
    background: linear-gradient(
      180deg,
      rgba(var(--color-background-primary), 1) 24.48%,
      rgba(var(--color-background-primary), 0.47) 100%
    );
  }

  .neomorphic {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
      -2px -2px 4px rgba(255, 255, 255, 0.25);
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }
  }

  .bullet {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }
}
